* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee", sans-serif;
}

body {
    background-color: #fff;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}



header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%; 
    margin: 0 auto; 
}

form {
    display: flex; 
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

#nome-cadastro {
    margin-right: 30px;
}

#numero-cadastro {
    margin-right: 30px;
}

form input {
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px;
}

#botao-adicionar {
    background-color: paleturquoise;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #000;
}

table {
    border-spacing: 0;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.espaco { 
    margin-left: 4px;
}